.login{
    margin-top: 100px;

    >div{
        text-align: center;
        padding: 14px;

        input{
            width: 220px;
            line-height: 22px;
            margin-left: 14px;
            padding-left: 4px;
            outline: none;
        }
        button{
            margin-left: 724px;
        }

        a{
            margin-left: 14px;
        }
    }
}