.viewBook{
    margin-top: 20px;
    .back{
        height: 30px;
    }
    .form{
        padding: {
            left: 30px;
            top: 10px;
            bottom: 20px;
        }
        border: 1px solid #bbb;
        border-radius: 4px;

        >div{
            padding: 12px 0;
            width: 400px;
            margin: {
                left: auto;
                right: auto;
            }
            font-size: 0;
        }
    
        label{
            display: inline-block;
            width: 100px;
            text-align: right;
            font-size: 16px;
        }

        input{
            width: 240px;
            height: 22px;
            font-size: 14px;
            padding-left: 2px;
            letter-spacing: 1px;
            outline: none;
        }

        span{
            margin-left: 20px;
            text-align: left;
            font-size: 16px;
            line-height: 22px;
        }

        .btnGroup{
            text-align: center;

            .btn-reverse{
                margin-left: 16px;
            }
        }
    }
}