.search {
    line-height: 30px;
    font-size: 14px;
    text-align: right;
    width: 640px;

    input {
        width: 180px;
        line-height: 20px;
        outline: #333;
        font-size: 14px;
        margin-left: 6px;
    }
}